/*{
    border: 2px red solid;
}*/

body {
    background-color: #F5EFE7;
    font-family: 'Courier New', Courier, monospace;
    border-style: solid;
    border-color: black;
    color: #213555;
    padding:10px;
    font-size: 25px;
}

.heading{
    display: inline-block;
    width: 500px;
    height: 908px;
    vertical-align: top;
    border: 7px #213555 solid;
    margin: 5px;
    padding: 10px;
    background-color: #D8C4B6;


}

.heading img.banner{
    width: 450px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;;
}
.heading .title{
    text-align: center;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 40px;
}

.heading p{
    color: #4F709C;
    padding: 5 10px;
    margin: 25px 15px;
}

.about{   
    text-align: center;

}


.recipe-card{
    display: inline-block;
    width: 1270px;
    border: 7px #213555 solid;
    margin: 5px;
    padding: 5px;
    background-color: #D8C4B6;

}
.recipe-card .recipe-title{
    text-align: center;
    font-size: 45px;
}

.recipes{
    border: 7px #213555 solid;
    margin: 5px;
    background-color: #D8C4B6;
    text-align: center;
}

.recipes img{
    width: 200px;
    height: auto;

}